html,
body 
{
    font-family:Tahoma, Geneva, sans-serif; font-size: 95%; color: FNTCLR;
    overflow: auto;
    scrollbar-face-color: SCRLFACECLR;
    scrollbar-highlight-color: SCRLHLCLR;
    scrollbar-3dlight-color: SCRLHLCLR;
    scrollbar-darkshadow-color: SCRLHLCLR;
    scrollbar-shadow-color: SCRLHLCLR;
    scrollbar-arrow-color: SCRLARROWCLR;
    scrollbar-base-color: SCRLTRCKCLR;
}

p { text-align:justify }          
.done { text-decoration:line-through; color:DISFNT; } 
.nextButton {float: right;}             
.runButton {float: right; margin-bottom: 10px}             
.shortcut { font-weight: bold; }
.title { margin-bottom: 10px; margin-top: 5px}
.loading {
    position: absolute;   
    z-index: 100;  
    top:50%;  
    left:50%;
    margin-left: -50px;
    margin-top: -30px;
    border-radius: 2px;
    padding: 10px 30px;    
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    background-color: DISFNT;
    visibility: hidden;   
}

tr.border_bottom td {
  border-bottom:1pt dotted;
}

#prevStep { text-decoration:line-through; color:DISFNT; position: absolute; padding-right: 10px; padding-left: 10px;}            
#currentStep { position: absolute; padding-right: 10px; padding-left: 10px;}

.userInput {
    font-weight: bold;
}

.menuItem {
    font-weight: bold;
}

.squiggly {
  display: inline-block;
  position: relative;
}
.squiggly:before {
  content: "~~~~~~~~~~~~";
  font-size: 0.6em;
  font-weight: 700;
  font-family: Times New Roman, Serif;
  color: rgb(86, 123, 147);
  width: 100%;
  position: absolute;
  top: 12px;
  left: -1px;
  overflow: hidden;
}