html,
body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    margin: 7px 10px 10px 10px;
    background-color: BGCLR;
    color: FNTCLR;
    overflow: auto;    
    scrollbar-face-color: SCRLFACECLR;
    scrollbar-highlight-color: SCRLHLCLR;
    scrollbar-3dlight-color: SCRLHLCLR;
    scrollbar-darkshadow-color: SCRLHLCLR;
    scrollbar-shadow-color: SCRLHLCLR;
    scrollbar-arrow-color: SCRLARROWCLR;
    scrollbar-base-color: SCRLTRCKCLR;
}

h1 {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 30.8px;
    padding-bottom: 40px;
    margin: 0;
    color: H1FNT;
}

.h1Disabled {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 30.8px;
    padding-bottom: 40px;
    margin: 0;
    color: DISFNT;
}

.stepTitle {
    padding-bottom: 25px;
}

h3 {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0;
    color: H3FNT;
}

.tutorial_description {
    margin-top: 0;
    margin-bottom: 20px
}

li { margin: 0 0 5px 0; }

p { text-align: justify }

.estimate {
    font-size: 12px;
    margin: 0;
}

.frame {
    border: 1px;
    border-style: solid;
    border-color: #FF0000;
}

.done {
    color: DISFNT;
}

.nextButton {
    float: left;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: black;
    background-color: #dddddd;
    border: 1px solid #707070;
    padding: 4px 10px 4px 10px;
    margin-top: 20px;
    margin-bottom: 14px
}

.nextButton:hover {
    background-color: #bee6fd;
    border: 1px solid #3c7fb1;
}

.nextButtonDisabled {
    float: left;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: black;
    background-color: #dddddd;
    border: 1px solid #707070;
    padding: 4px 10px 4px 10px;
    margin-top: 20px;
    margin-bottom: 14px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.nextButtonDisabled:hover {
    background-color: #dddddd;
    border: 1px solid #707070;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.runButton {
    float: left;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: black;
    background-color: #dddddd;
    border: 1px solid #707070;
    padding: 4px 10px 4px 10px;
    margin-top: 20px;
    margin-bottom: 40px
}

.runButton:hover {
    background-color: #bee6fd;
    border: 1px solid #3c7fb1;
}

.runButtonDisabled {
    float: left;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: black;
    background-color: #dddddd;
    border: 1px solid #707070;
    padding: 4px 10px 4px 10px;
    margin-top: 20px;
    margin-bottom: 40px
}

.runButtonDisabled:hover {
    background-color: #dddddd;
    border: 1px solid #707070;    
}

.shortcut {
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 2px;
    padding: 4px 8px;
    background-color: SHCTBG;
    border: 1px solid SHCTBRD;    
    border-radius: 2px;
    line-height: 1em;
    white-space: nowrap;   
}

.shortcutDisabled {
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 2px;
    padding: 4px 8px;
    background-color: SCBGDIS;
    border: 1px solid SCBRDDIS;
    color: DISFNT;
    border-radius: 2px;
    line-height: 1em;
    white-space: nowrap;   
}

.disabledBackground {
    opacity: 0.05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5);
}

code {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    background-color: CDEBG;
    margin: 4px 2px;
    padding: 4px 8px;
    white-space: nowrap;
    border-radius: 2px;
    font-style: normal;
    line-height: 1em;
    vertical-align: baseline;
    display: inline-block;
    position: relative;
}

.codeDisabled {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    background-color: SCBGDIS;
    color: DISFNT;
    margin: 4px 2px;
    padding: 4px 8px;
    white-space: nowrap;
    border-radius: 2px;
    font-style: normal;
    line-height: 1em;
    vertical-align: baseline;
    display: inline-block;
    position: relative;
}

.null_margin { margin: 0; }

.loading {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -30px;
    color: black;
    background-color: #e6e6e6;    
    padding: 5px 20px;
    text-align: center;   
    visibility: hidden;
}

.fade {
    -ms-opacity: 0.7;
    opacity: 0.7;
}

tr.border_bottom td { border-bottom: 1pt dotted; }

#prevStep {    
    color: DISFNT;
    position: absolute;    
    padding: 10px 10px 40px 0px;
    margin: 0px 10px 0px 10px;
}

#currentStep {
    position: absolute;    
    padding: 10px 10px 10px 0px;
    margin: 0px 10px 0px 10px;
}

.navigate {
    cursor: pointer;
    color: #468bae;
    text-decoration: underline;
}

.navigate:hover { text-decoration: none; }

.noNavigate {    
    cursor: default;
    color: DISFNT;
}

.userInput {
    font-weight: 600;    
    white-space: nowrap;        
    font-style: normal;
    line-height: 1em;
    vertical-align: baseline;    
}

.userInput:before {
    content: '\"';
}

.userInput:after {
    content: '\"';
}

.menuItem {    
    font-size: 14px;
    background-color: MNUBG;    
    margin: 2px 0px;
    padding: 0px 6px;
    white-space: nowrap;
    font-style: normal;
    line-height: 1.5em;
    vertical-align: baseline;
    display: inline-block;
    position: relative;
}

.menuItemDisabled {    
    font-size: 14px;
    background-color: SCBGDIS;
    color: DISFNT;
    margin: 2px 0px;
    padding: 0px 6px;
    white-space: nowrap;
    font-style: normal;
    line-height: 1.5em;
    vertical-align: baseline;
    display: inline-block;
    position: relative;
}

.squiggly {
    display: inline-block;
    position: relative;
}

.squiggly:before {
    content: "~~~~~~~~~~~~";
    font-size: 0.6em;
    font-weight: 700;
    font-family: Times New Roman, Serif;
    color: rgb(86, 123, 147);
    width: 100%;
    position: absolute;
    top: 12px;
    left: -1px;
    overflow: hidden;
}