html,
body 
{
    font-family:Tahoma, Geneva, sans-serif; font-size: 95%; color: FNTCLR;
    overflow: auto;
    scrollbar-face-color: SCRLFACECLR;
    scrollbar-highlight-color: SCRLHLCLR;
    scrollbar-3dlight-color: SCRLHLCLR;
    scrollbar-darkshadow-color: SCRLHLCLR;
    scrollbar-shadow-color: SCRLHLCLR;
    scrollbar-arrow-color: SCRLARROWCLR;
    scrollbar-base-color: SCRLTRCKCLR;
}

li { margin: 0 0 5px 0; }
p { text-align:justify }  
.estimate { font-size: small;}        
.frame {border:1px; border-style:solid; border-color:#FF0000; }
.done { text-decoration:line-through; color:DISFNT; } 
.nextButton {float: right;}             
.runButton {float: right; margin-bottom: 10px}             
.shortcut {
    font-family: monospace;
    position:relative;
    display:inline-block;
    margin:0 2px;
    padding:4px 8px;
    background-color:transparent;
    border:1px solid #cccbcb;
    border-radius:10px;
    line-height:1em;
    white-space:nowrap;
    -webkit-box-shadow:0 2px 0 -1px #fff,0 2px 0 #cccbcb;
    box-shadow:0 2px 0 -1px #fff,0 2px 0 #cccbcb;
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace; 
    background-color:CDECLR;    
    margin: 4px 2px;
    padding: 4px 8px; 
    white-space:nowrap;   
    border-radius: 2px;    
    font-style: normal;
    line-height: 1em;
    vertical-align: baseline;
    display:inline-block;
    position:relative;
}

.title { margin-bottom: 10px; margin-top: 5px}
.loading {
    position: absolute;   
    z-index: 100;  
    top:50%;  
    left:50%;
    margin-left: -50px;
    margin-top: -30px;
    border-radius: 2px;
    padding: 10px 30px;    
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    background-color: DISFNT;
    visibility: hidden;   
}

tr.border_bottom td {
  border-bottom:1pt dotted;
}

#prevStep { text-decoration:line-through; color:DISFNT; position: absolute; padding-right: 10px; padding-left: 10px;}            
#currentStep { position: absolute; padding-right: 10px; padding-left: 10px;}

.userInput {
    font-weight: bold;
    background-color:#468bae;    
    margin: 4px 2px;
    padding: 4px 8px; 
    white-space:nowrap;   
    border-radius: 2px;    
    font-style: normal;
    line-height: 1em;
    vertical-align: baseline;
    display:inline-block;
    position:relative;
}

.menuItem {
    font-weight: bold;
    background-color:CDECLR;    
    margin: 4px 2px;
    padding: 4px 8px; 
    white-space:nowrap;   
    border-radius: 2px;    
    font-style: normal;
    line-height: 1em;
    vertical-align: baseline;
    display:inline-block;
    position:relative;
}

.squiggly {
  display: inline-block;
  position: relative;
}
.squiggly:before {
  content: "~~~~~~~~~~~~";
  font-size: 0.6em;
  font-weight: 700;
  font-family: Times New Roman, Serif;
  color: rgb(86, 123, 147);
  width: 100%;
  position: absolute;
  top: 12px;
  left: -1px;
  overflow: hidden;
}